@import "tailwindcss";
@plugin "daisyui" {
     themes: light --default;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #D2B48C;
  --color-base-200: #F4F3F0;
  --color-base-300: #ECEAE3;
  --color-primary-content:#331A15;
  --color-secondary-content:#1B1A1A;
}